.footer {
  background: #6278f7;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
